.header {
  position: fixed;
  width: 100%;
  height: 128px;
  font-weight: 600;
  z-index: 9999;
  @include media("<=phone") {
    height: 96px;
  }
  .logo {
    a {
      font-size: 1.2rem;
      font-weight: 700;
      letter-spacing: 0.4rem;
      text-decoration: none;
      color: $black;
      position: relative;
      z-index: 10000;
    }
  }
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      overflow: hidden;
      @include media("<=tablet") {
        display: none;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        position: absolute;
        background: $white;
        z-index: 9998;
        padding: 0;
        margin: 0;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: 0.2s ease;
      }
      li {
        padding: 10px 10px;
        position: relative;
        overflow: hidden;
        @include media("<=tablet") {
          width: 100vw;
          text-align: center;
          padding: 20px 0;
          font-size: 1.3rem;
        }
        a {
          position: relative;
          text-decoration: none;
          color: $black;
          &:after {
            content: "";
            position: absolute;
            width: 0;
            height: 2px;
            display: block;
            margin-top: 5px;
            right: 0;
            background: #c70039;
            transition: 0.4s ease;
          }
          &:hover {
            color: $black;
            &:after {
              width: 100%;
              left: 0;
              background: #c70039;
            }
          }
        }
      }
    }
    .hamburger-menu {
      display: none;
      width: 25px;
      height: 16px;
      z-index: 10000;
      cursor: pointer;
      position: relative;
      padding: 0 10px;
      @include media("<=tablet") {
        display: block;
        position: relative;
        z-index: 10000;
      }
      span {
        height: 2px;
        width: 100%;
        background: $black;
        display: block;
      }
      span:nth-child(1) {
        transform: rotate(0);
        transition: transform 0.2s ease;
        margin-top: 0.3rem;
      }
      span:nth-child(2) {
        transform: rotate(0);
        transition: transform 0.2s ease;
        margin-top: 0.3rem;
      }
    }
    .hamburger-menu-close {
      span:nth-child(1) {
        transform: rotate(135deg);
        transition: transform 0.2s ease;
        margin-top: 0.7 rem;
      }
      span:nth-child(2) {
        transform: rotate(-135deg);
        transition: transform 0.2s ease;
        margin-top: -0.1rem;
      }
    }
  }
}
